{% extends "base.html" %} 

{% block content %}

<div class="home-page-content">
    <h1>404 Error: Page Not Found</h1>

    <p>
        Try navigating to the <a href="/">home page</a> or viewing one of the latest posts.
    </p>
</div>

<h4 style="margin-top: 3em;">Latest Posts:</h4>

{% set blog_section = get_section(path="blog/_index.md") %}

<ul class="blog-post-list">
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in blog_section.pages | slice(end=5) %}
    <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}