<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unwrapping Code Patterns 🔍</title>
        <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
    </head>

    <body>
        <div>
            <header>
                <a href="/">
                    <h1>Unwrapping Code Patterns 🔍</h1>
                </a>
            </header>

            <nav>
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/resume">Resume</a>
                <a href="https://github.com/eliasprescott/">GitHub</a>
                <a href="https://www.linkedin.com/in/elias-prescott/">LinkedIn</a>
            </nav>
        </div>

        <section class="section">
            <div class="container">
            {% block content %} {% endblock %}
            </div>
        </section>
    </body>
</html>