{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

{% set page_tags = page.taxonomies.tags %}
<div class="taglist">
{% for tag_name in page_tags %}
  {% set url = get_taxonomy_url(kind="tags", name=tag_name) %}
  <span class="tag">
    <a href="{{ url | safe }}">{{ tag_name }}</a>
  </span>
{% endfor %}
</div>

<p class="subtitle"><sub>Posted {{ page.date }}</sub></p>
<p class="subtitle"><sub>~{{ page.reading_time }} minute read time</sub></p>

<hr />

{{ page.content | safe }}
{% endblock content %}
