{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ page.title }}
</h1>

{% set author_count = page.taxonomies.authors | length %}

<p>
    {% if author_count > 2 %}
    <strong>
        Written by 
        {% for author in page.taxonomies.authors %}
            {% if loop.index == author_count %}
                and <a href="/authors/{{ author | slugify }}" hx-boost="true">{{ author }}</a>
            {% else %}
                <a href="/authors/{{ author | slugify }}" hx-boost="true">{{ author }}</a>,
            {% endif %}
        {% endfor %}
    </strong>
    {% elif author_count == 2 %}
    <strong>
        Written by 
        <a href="/authors/{{ page.taxonomies.authors.0 | slugify }}" hx-boost="true">{{ page.taxonomies.authors.0 }}</a> 
        and 
        <a href="/authors/{{ page.taxonomies.authors.1 | slugify }}" hx-boost="true">{{ page.taxonomies.authors.1 }}</a>
    </strong>
    {% elif author_count == 1 %}
    <strong>
        Written by <a href="/authors/{{ page.taxonomies.authors.0 | slugify }}" hx-boost="true">{{ page.taxonomies.authors.0 }}</a>
    </strong>
    {% endif %}
</p>

{% set tag_count = page.taxonomies.tags | length %}

{% if tag_count > 1 %}
<p>
    <strong>
        Tags:
        {% for tag in page.taxonomies.tags %}
            {% if loop.index == tag_count %}
                <a href="/tags/{{ tag | slugify }}" hx-boost="true">{{ tag }}</a>
            {% else %}
                <a href="/tags/{{ tag | slugify }}" hx-boost="true">{{ tag }}</a>,
            {% endif %}
        {% endfor %}
    </strong>
</p>
{% endif %}

<p class="subtitle">
    <strong>Date Created: {{ page.date }}</strong>
</p>

<p class="subtitle">
    <strong>{{ page.reading_time }} minute read</strong>
</p>

<div class="content blog-page-content">
    {{ page.content | safe }}
</div>
{% endblock content %}