{% extends "base.html" %}

{% block title %}{{ term.name }}{% endblock %}

{% block content %}
<h1 class="title">
  Posts about {{ term.name }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in term.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% set page_tags = page.taxonomies.tags %}
    <div class="taglist">
    {% for tag_name in page_tags %}
      {% set url = get_taxonomy_url(kind="tags", name=tag_name) %}
      <span class="tag">
        <a href="{{ url | safe }}">{{ tag_name }}</a>
      </span>
    {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
